// Body
//$body-bg: #E5E5E5;

// Typography
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-size-xs: 16px;
$line-height-xs: 20px;
$font-size-sm: 18px;
$line-height-sm: 24px;
$font-size-base: 24px;
$line-height-base: 36px;
$font-size-lg: 36px;
$line-height-lg: 48px;

// Colors
$primary-white: #EDECEA;
$primary-gray: #4C4C4C;
$dark-grey: #9EAEA4;
$light-green: #DEE2E0;
$green: #3D6950;
$orange: #FF5026;
$dark-blue: #3E4149;
